html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.header {
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 30px;
    padding-bottom: 60px;
}

.logo {
    font-size: 24px;
    font-weight: bolder;
    color: #F9FAF8;
}

a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.links {
    display: flex;
    justify-content: end;
    gap: 20px;
    align-self: center;
}

.top-main {
    display: flex;
    height: 100%;
    background-color: #1F2937;
    padding-left: 60px;
    padding-bottom: 60px;
    padding-top: 60px;
    padding-right: 60px;
    flex: 1;
    justify-content: space-between;
}

.title {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.title-text {
    font-size: 18px;
    color: #e5e7eb;
}

.first-sign-up {
    width: 75px;
    background-color: #3882f6;
    border-radius: 5px;
    color: #e5e7eb;
}

.title-text-button {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    justify-content: center;
    gap: 20px;
}

.mcimage {
    padding-left: 60px;
}

.middle1 {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    gap: 60px;
    justify-content: center;
}

.middle1-title {
    display: flex;
    align-self: center;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.images {
    display: flex;
    justify-content: center;
    gap: 40px;
}

p {
    width: 150px;
    margin: 0;
    font-size: 10px;
    color:rgb(87, 85, 85);
    text-align: center;
}
img {
    border-radius: 5px;
}